<div class="row">
  <div class="col p-0 m-0">
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-card-title>Sales Overview</mat-card-title>
        <div style="height: 400px; width: 100%;">
          <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
            [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
            [xaxis]="chartOptions.xaxis"></apx-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>