<div class="card" *ngIf="observableOutPut.length">
    <div class="card-header flex-wrap datatable-custom-header">Observable</div>
    <div class="card-body">
        <ul>
            <li *ngFor="let observableRow of observableOutPut">{{ observableRow }}</li>
        </ul>
    </div>
</div>

<div class="card" *ngIf="subjectOutPut.length">
    <div class="card-header flex-wrap datatable-custom-header">Subject</div>
    <div class="card-body">
        <ul>
            <li *ngFor="let subjectRow of subjectOutPut">{{ subjectRow }}</li>
        </ul>
    </div>
</div>

<div class="card" *ngIf="behaviourSubjectOutPut.length">
    <div class="card-header flex-wrap datatable-custom-header">Behaviour Subject</div>
    <div class="card-body">
        <ul>
            <li *ngFor="let behaviourSubjectRow of behaviourSubjectOutPut">{{ behaviourSubjectRow }}</li>
        </ul>
    </div>
</div>

<div class="card" *ngIf="asyncSubjectOutPut.length">
    <div class="card-header flex-wrap datatable-custom-header">Async Subject</div>
    <div class="card-body">
        <ul>
            <li *ngFor="let asyncSubjectRow of asyncSubjectOutPut">{{ asyncSubjectRow }}</li>
        </ul>
    </div>
</div>

<div class="card" *ngIf="replaySubjectOutPut.length">
    <div class="card-header flex-wrap datatable-custom-header">Replay Subject</div>
    <div class="card-body">
        <ul>
            <li *ngFor="let replaySubjectRow of replaySubjectOutPut">{{ replaySubjectRow }}</li>
        </ul>
    </div>
</div>