<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button>
    <img wcgImageLoader src="assets/images/users/1.jpg" [alt]="userData?.firstName || 'User'"
        [title]="userData?.firstName || 'User'" class="profile-pic">
</button>
<mat-menu #profile="matMenu" class="mymegamenu ">
    <button mat-menu-item>
        Welcome {{ userData?.firstName || 'User' }}
    </button>
    <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon> Settings
    </button>
    <button mat-menu-item (click)="logout();">
        <mat-icon>exit_to_app</mat-icon> Sign Out
    </button>
</mat-menu>