<mat-drawer-container [hasBackdrop]="true" class="commonpanel">
    <mat-drawer #drawer [mode]="'side'" class="sidePanel" position="end">
        <mat-card appearance="outlined" class="sidePanelCard">
            <mat-card-header class="panelheader">
                <mat-card-title>
                    <h4 class="modal-title">{{panelHeader}}</h4>
                    <a class="btn btn-icon" href="javascript:;" (click)="close()"
                        style="position: absolute; top: 0; right: 0;">
                        <mat-icon class="remove-icon" aria-hidden="false">close</mat-icon>
                    </a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="customScrollbar">
                <ng-content></ng-content>
            </mat-card-content>
        </mat-card>
    </mat-drawer>
    <mat-drawer-content class="mat-drawer-backdrop mat-drawer-shown"
        style="width:100vw !important;height: 100vh !important; position: fixed; z-index: 1;">
    </mat-drawer-content>
</mat-drawer-container>