<div class="card">
    <div class="card-header flex-wrap datatable-custom-header">
        <h3 style="color: brown;">ngOnChanges Example</h3>
        My Text: <input type="text" [(ngModel)]="myVal" class="mw-100" /> <br>
        <wcg-child [myValProp]="myVal"></wcg-child>


        <!-- <h1>ngDoCheck Example</h1>
        <pre>{{data}}</pre>
        <p>DATA: {{ data[data.length - 1] }}</p> -->



        <!-- <h1>ngOnDestroy Example</h1>
        <button (click)="toggleDestroy()">TOGGLE DESTROY</button>
        <p wcgDestroyListener *ngIf="destroy">I can be destroyed!</p> -->

    </div>
</div>