<div class="card">
    <div class="card-header flex-wrap datatable-custom-header">
        <!-- <h4>ngAfterContentInit Example</h4>
        <p>I am A.</p>
        <wcg-b>
            <h3 #BHeader>BComponent Content DOM</h3>
            <wcg-c></wcg-c>
        </wcg-b> -->


        <!-- <h1>ngAfterContentChecked Example</h1>
        <p>I am A.</p>
        <wcg-b>
            <h3 #BHeader>BComponent Content DOM</h3>
            <wcg-c></wcg-c>
        </wcg-b> -->


        <!-- <h1>ngAfterViewInit Example</h1>
        <p>I am A.</p>
        <wcg-b>
            <h3>BComponent Content DOM</h3>
            <wcg-c></wcg-c>
        </wcg-b> -->

        <!-- <h1>ngAfterViewChecked Example</h1>
        <p>I am A.</p>
        <wcg-b>
            <h3>BComponent Content DOM</h3>
            <wcg-c></wcg-c>
        </wcg-b> -->
    </div>
</div>